/*---------------Clients-----------------*/

.list-clients {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 150px) / 6);
}

.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item-list {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--timing-function);
}

.clients-item-list:focus .icon-company {
  fill: var(--accent-color);
}
.clients-item-list:hover .icon-company {
  fill: var(--accent-color);
}

.clients-item-list:hover,
.clients-item-list:focus .clients-item-list {
  border-color: var(--accent-color);
}

.icon-company {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
